/*
  - 1em is calculated on browser-defined font size
    - No CSS property can affect this calculation.
  - As font size increases/decreases (zoom %), more/less room is available,
    so breakpoints behave more like larger/smaller screens
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
textarea {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
fieldset {
  padding: 0;
  margin: 0;
}
legend {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}
/*
  When programmatically focusing an element,
  it should not recieve a visual focus outline.
*/
[tabindex="-1"] {
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f7f7f7;
}
hr {
  margin: 0.5rem 0;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 0 0;
}
kbd {
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
}
pre,
code {
  font-family: "SF Mono", "Menlo", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}
code {
  background-color: inherit;
  border-radius: 0;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0;
}
pre {
  background-color: #e6e6e6;
  border: 1px solid #1a1a1a;
  box-shadow: inset 0.25rem 0 0 #1a1a1a;
  color: #0d0d0d;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  overflow-x: auto;
  padding: 0.5rem 1rem;
  width: 100%;
}
pre code {
  display: block;
  font-weight: inherit;
  text-shadow: none;
  white-space: pre;
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 2rem;
}
ol,
ul {
  margin: 0 0 1rem;
  padding-left: 2rem;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin: 0;
  padding-left: 1.5rem;
}
li {
  margin: 0 0 0.25rem;
}
/* LINKS */
a {
  background-color: transparent;
  color: #006cb3;
}
small {
  font-size: 0.75em;
}
sub,
sup {
  font-size: 0.5em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
.dsBreadcrumbs {
  align-items: center;
  background-color: #1a1a1a;
  color: #cccccc;
  display: flex;
  padding: 1rem 1.5rem;
}
.dsBreadcrumbs a[href] {
  color: #33aeff;
  font-weight: 500;
  text-decoration: none;
}
.dsBreadcrumbs a[href]:last-of-type {
  color: #cccccc;
  font-weight: 300;
  pointer-events: none;
}
.dsBreadcrumbs .delimiter {
  font-weight: 100;
}
.dsBreadcrumbs > * {
  margin-right: 0.5em;
}
.demo {
  background-color: white;
  border: 1px solid #b3b3b3;
  padding: 1rem;
  box-shadow: 0 4px 6px -2px #b3b3b3;
}
.demo + pre {
  margin-top: 1rem;
}
dl dt {
  font-weight: 700;
  padding: 0.25rem;
}
dl dd {
  padding: 0.25rem;
  margin-left: 2rem;
}
dl.dsKeyValue,
dl.list--usage {
  display: flex;
  flex-wrap: wrap;
}
dl.dsKeyValue dt,
dl.list--usage dt {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0.5rem;
}
dl.dsKeyValue dd,
dl.list--usage dd {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0.5rem;
  margin: 0;
}
.dsApp__stage {
  display: flex;
  min-height: 100vh;
}
.dsApp__content {
  flex-grow: 1;
  order: 2;
  min-height: 100vh;
}
.dsApp__nav {
  background-color: black;
  color: #b3b3b3;
  flex-shrink: 0;
  width: 15rem;
  order: 1;
}
.dsSidebar {
  padding: 1.5rem;
}
.dsApp__nav {
  letter-spacing: 1px;
}
.dsApp__nav ds-disclosure {
  color: inherit;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
}
.dsApp__nav ds-disclosure:hover {
  background-color: #666666;
  color: white;
  cursor: pointer;
}
.dsApp__nav ds-disclosure .toggle-icon {
  float: right;
  pointer-events: none;
}
.dsApp__nav ds-disclosure[aria-expanded="true"] .toggle-icon {
  transform: scaleY(-1);
}
.dsApp__nav a {
  color: inherit;
  display: block;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}
.dsApp__nav a.current {
  background-color: #333333;
  color: #ffd54f;
}
.dsApp__nav a.current .you-are-here {
  visibility: visible;
}
.dsApp__nav a:hover {
  background-color: #666666;
  color: white;
}
.dsApp__nav ds-reveal ds-disclosure {
  padding-left: 0.75rem;
}
.dsApp__nav ds-reveal a {
  padding-left: 1.5rem;
}
.dsApp__nav .brand {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
}
.dsApp__nav .brand img {
  height: 2em;
}
.dsApp__nav .you-are-here {
  display: inline-block;
  float: right;
  visibility: hidden;
}
.page-heading {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 1.5rem;
}
.page-heading .dsPageHeading {
  line-height: 1;
  margin: 0;
}
.dsPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  min-height: 100vh;
}
.dsPage__body {
  padding: 1.5rem;
  flex-grow: 1;
}
.dsPage__body:first-child {
  padding-top: 3rem;
}
.dsPage__foot {
  padding: 1.5rem;
  flex-shrink: 0;
  color: #666666;
}
.post-it {
  background-color: #f2f20d;
  border: 1px solid #e5e5b4;
  /* slightly darker yellow */
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.25);
  max-width: 23em;
  padding: 0.5em 1em;
}
.post-it__icon {
  margin-right: 0.5em;
}
.dsTable {
  background-color: white;
  border-collapse: separate;
  border-color: #b3b3b3;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin-bottom: 1em;
  width: 100%;
}
.dsTable thead {
  background-color: #d9d9d9;
}
.dsTable td,
.dsTable th {
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0 1px 1px 0;
  vertical-align: top;
}
.table--compat {
  table-layout: fixed;
}
.table--compat td,
.table--compat th {
  text-align: center;
}
.table--compat .compat-unknown {
  background-color: #e6e6e6;
}
.table--compat .compat-broken {
  background-color: #e64c4c;
  color: white;
}
.table--compat .compat-degraded {
  background-color: #f2f20d;
}
.table--compat .compat-working {
  background-color: #63e963;
}
.article-toc {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}
.article-toc a {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-decoration: none;
}
.article-toc a:hover {
  text-decoration: underline;
}
.article-toc .top-link {
  font-size: 0.875rem;
  font-weight: 300;
}
body {
  color: #333333;
}
.dsPageHeading {
  /* system thin, 40/60 */
  font-size: 40px;
  font-weight: 100;
  line-height: 1.5;
  text-shadow: 1px 1px 0 #cccccc;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.dsSectionHeading {
  /* system thin, 36/54 */
  font-size: 36px;
  font-weight: 100;
  line-height: 1.5;
  text-shadow: 1px 1px 0 #d9d9d9;
}
.dsSubSectionHeading {
  /* system light, 32/48 */
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
}
.dsContainerHeading {
  /* system regular, 28/42 */
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
}
.dsSubContainerHeading {
  /* system medium, 24/36 */
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.dsParagraphHeading {
  /* system bold, 20/30 */
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.dsLabel {
  /* system bold, 14/20 */
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* Usage/Metadata List */
dl.list--usage {
  background-color: #e9e9fb;
  border: 1px solid #006cb3;
  box-shadow: inset 0.5rem 0 0 #006cb3;
  padding: 0.5rem 1rem;
}
.demo--grid > .dsContainer {
  border: 1px dotted #999999;
}
.demo--grid .dsRow + .dsRow {
  margin-top: 1rem;
}
.demo--grid .dsCol {
  background-color: rgba(38, 198, 218, 0.25);
  border: 1px solid transparent;
  font-size: 0.75rem;
}
.demo--grid .dsCol:hover {
  background-color: rgba(255, 213, 79, 0.25);
  border-color: black;
}
.demo--grid .dsCol > p {
  margin: 1em 0;
}
@media (min-width: 0em) {
  #querySize::before {
    content: 'Size: XS';
    display: block;
    font-variant: small-caps;
    font-weight: bold;
  }
  .demoCol.dsCol-12-xs p::before {
    content: '12-xs';
  }
  .demoCol.dsCol-11-xs p::before {
    content: '11-xs';
  }
  .demoCol.dsCol-10-xs p::before {
    content: '10-xs';
  }
  .demoCol.dsCol-9-xs p::before {
    content: '9-xs';
  }
  .demoCol.dsCol-8-xs p::before {
    content: '8-xs';
  }
  .demoCol.dsCol-7-xs p::before {
    content: '7-xs';
  }
  .demoCol.dsCol-6-xs p::before {
    content: '6-xs';
  }
  .demoCol.dsCol-5-xs p::before {
    content: '5-xs';
  }
  .demoCol.dsCol-4-xs p::before {
    content: '4-xs';
  }
  .demoCol.dsCol-3-xs p::before {
    content: '3-xs';
  }
  .demoCol.dsCol-2-xs p::before {
    content: '2-xs';
  }
  .demoCol.dsCol-1-xs p::before {
    content: '1-xs';
  }
}
@media (min-width: 40em) {
  #querySize::before {
    content: 'Size: SM';
  }
  .demoCol.dsCol-12-sm p::before {
    content: '12-sm';
  }
  .demoCol.dsCol-11-sm p::before {
    content: '11-sm';
  }
  .demoCol.dsCol-10-sm p::before {
    content: '10-sm';
  }
  .demoCol.dsCol-9-sm p::before {
    content: '9-sm';
  }
  .demoCol.dsCol-8-sm p::before {
    content: '8-sm';
  }
  .demoCol.dsCol-7-sm p::before {
    content: '7-sm';
  }
  .demoCol.dsCol-6-sm p::before {
    content: '6-sm';
  }
  .demoCol.dsCol-5-sm p::before {
    content: '5-sm';
  }
  .demoCol.dsCol-4-sm p::before {
    content: '4-sm';
  }
  .demoCol.dsCol-3-sm p::before {
    content: '3-sm';
  }
  .demoCol.dsCol-2-sm p::before {
    content: '2-sm';
  }
  .demoCol.dsCol-1-sm p::before {
    content: '1-sm';
  }
}
@media (min-width: 64em) {
  #querySize::before {
    content: 'Size: MD';
  }
  .demoCol.dsCol-12-md p::before {
    content: '12-md';
  }
  .demoCol.dsCol-11-md p::before {
    content: '11-md';
  }
  .demoCol.dsCol-10-md p::before {
    content: '10-md';
  }
  .demoCol.dsCol-9-md p::before {
    content: '9-md';
  }
  .demoCol.dsCol-8-md p::before {
    content: '8-md';
  }
  .demoCol.dsCol-7-md p::before {
    content: '7-md';
  }
  .demoCol.dsCol-6-md p::before {
    content: '6-md';
  }
  .demoCol.dsCol-5-md p::before {
    content: '5-md';
  }
  .demoCol.dsCol-4-md p::before {
    content: '4-md';
  }
  .demoCol.dsCol-3-md p::before {
    content: '3-md';
  }
  .demoCol.dsCol-2-md p::before {
    content: '2-md';
  }
  .demoCol.dsCol-1-md p::before {
    content: '1-md';
  }
}
@media (min-width: 75em) {
  #querySize::before {
    content: 'Size: LG';
  }
  .demoCol.dsCol-12-lg p::before {
    content: '12-lg';
  }
  .demoCol.dsCol-11-lg p::before {
    content: '11-lg';
  }
  .demoCol.dsCol-10-lg p::before {
    content: '10-lg';
  }
  .demoCol.dsCol-9-lg p::before {
    content: '9-lg';
  }
  .demoCol.dsCol-8-lg p::before {
    content: '8-lg';
  }
  .demoCol.dsCol-7-lg p::before {
    content: '7-lg';
  }
  .demoCol.dsCol-6-lg p::before {
    content: '6-lg';
  }
  .demoCol.dsCol-5-lg p::before {
    content: '5-lg';
  }
  .demoCol.dsCol-4-lg p::before {
    content: '4-lg';
  }
  .demoCol.dsCol-3-lg p::before {
    content: '3-lg';
  }
  .demoCol.dsCol-2-lg p::before {
    content: '2-lg';
  }
  .demoCol.dsCol-1-lg p::before {
    content: '1-lg';
  }
}
@media (min-width: 90em) {
  #querySize::before {
    content: 'Size: XL';
  }
  .demoCol.dsCol-12-xl p::before {
    content: '12-xl';
  }
  .demoCol.dsCol-11-xl p::before {
    content: '11-xl';
  }
  .demoCol.dsCol-10-xl p::before {
    content: '10-xl';
  }
  .demoCol.dsCol-9-xl p::before {
    content: '9-xl';
  }
  .demoCol.dsCol-8-xl p::before {
    content: '8-xl';
  }
  .demoCol.dsCol-7-xl p::before {
    content: '7-xl';
  }
  .demoCol.dsCol-6-xl p::before {
    content: '6-xl';
  }
  .demoCol.dsCol-5-xl p::before {
    content: '5-xl';
  }
  .demoCol.dsCol-4-xl p::before {
    content: '4-xl';
  }
  .demoCol.dsCol-3-xl p::before {
    content: '3-xl';
  }
  .demoCol.dsCol-2-xl p::before {
    content: '2-xl';
  }
  .demoCol.dsCol-1-xl p::before {
    content: '1-xl';
  }
}
.icon-demo {
  display: flex;
  align-content: center;
  align-items: center;
}
.icon-demo ds-icon {
  height: 2em;
  width: 2em;
  margin-right: 1em;
}
.demo-tabset ds-tabset {
  height: 400px;
}
.theme-dark {
  background-color: #1a1a1a;
  color: white;
}
.theme-light {
  background-color: white;
  color: #1a1a1a;
}
input[type="range"] {
  display: block;
  width: 100%;
}
