ds-busy {
  display: inline-block;
  height: 1em;
  width: 1em;
}
ds-icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  vertical-align: -2px;
  width: 1em;
}
ds-progress {
  background-color: #e6e6e6;
  border: 1px solid;
  box-sizing: border-box;
  color: #808080;
  display: block;
  height: 0.5em;
  margin: 0;
  padding: 0;
}
ds-progress[indeterminate] {
  animation: progress-busy 3s linear infinite;
  background-image: linear-gradient(45deg, currentColor, currentColor 25%, transparent 25%, transparent 50%, currentColor 50%, currentColor 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
@keyframes progress-busy {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 80px 0;
  }
}
ds-reveal {
  display: block;
}
/* prevent FOUC before element is upgraded */
ds-reveal:not([open]) > *:not([slot="summary"]) {
  display: none;
}
#summary.ds-reveal {
  display: block;
}
