ds-busy {
  display: inline-block;
  height: 1em;
  width: 1em;
}
ds-disclosure {
  display: block;
}
ds-disclosure:hover {
  cursor: pointer;
}
ds-icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  vertical-align: -2px;
  width: 1em;
}
ds-progress {
  background-color: #e6e6e6;
  border: 1px solid;
  box-sizing: border-box;
  color: #808080;
  display: block;
  height: 0.5em;
  margin: 0;
  padding: 0;
}
ds-progress[indeterminate] {
  animation: progress-busy 3s linear infinite;
  background-image: linear-gradient(45deg, currentColor, currentColor 25%, transparent 25%, transparent 50%, currentColor 50%, currentColor 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
@keyframes progress-busy {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 80px 0;
  }
}
ds-reveal,
ds-tabpanel {
  display: none;
}
ds-reveal[open],
ds-tabpanel[open] {
  display: block;
}
ds-tab {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0.5rem 1rem;
}
ds-tab[current] {
  background-color: white;
  border-color: #b3b3b3;
}
ds-tab:hover {
  cursor: pointer;
}
ds-tabcontent {
  border: 1px solid #b3b3b3;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
ds-tablist {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
ds-tablist[aria-orientation="horizontal"] {
  flex-direction: row;
}
ds-tablist[aria-orientation="vertical"] {
  flex-direction: column;
}
ds-tabpanel {
  background-color: white;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
ds-tabset {
  display: flex;
  flex-direction: column;
}
ds-tabset ds-tablist {
  position: relative;
}
ds-tabset[tab-side="top"] {
  flex-direction: column;
}
ds-tabset[tab-side="top"] ds-tablist {
  bottom: -1px;
  padding: 0 1rem;
}
ds-tabset[tab-side="top"] ds-tab {
  border-bottom-color: transparent;
}
ds-tabset[tab-side="bottom"] {
  flex-direction: column-reverse;
}
ds-tabset[tab-side="bottom"] ds-tablist {
  top: -1px;
  padding: 0 1rem;
}
ds-tabset[tab-side="bottom"] ds-tab {
  border-top-color: transparent;
}
ds-tabset[tab-side="left"] {
  flex-direction: row;
}
ds-tabset[tab-side="left"] ds-tablist {
  right: -1px;
  padding: 1rem 0;
}
ds-tabset[tab-side="left"] ds-tab {
  border-right-color: transparent;
}
ds-tabset[tab-side="right"] {
  flex-direction: row-reverse;
}
ds-tabset[tab-side="right"] ds-tablist {
  left: -1px;
  padding: 1rem 0;
}
ds-tabset[tab-side="right"] ds-tab {
  border-left-color: transparent;
}
