ds-icon {
  display: inline-block;
  height: 1em;
  vertical-align: -2px;
  width: 1em;
}
ds-reveal {
  display: block;
}
/* prevent FOUC before element is upgraded */
ds-reveal:not([open]) > *:not([slot="summary"]) {
  display: none;
}
#summary.ds-reveal {
  display: block;
}
ds-spinner {
  display: inline-block;
  height: 1em;
  width: 1em;
}
