.dsTable {
  background-color: white;
  border-collapse: separate;
  border-color: @gray-30;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin-bottom: 1em;
  width: 100%;

  thead {
    background-color: @gray-15;
  }

  td, th {
    padding: 0.5rem 0.75rem;
    border-style: solid;
    border-color: @gray-30;
    border-width: 0 1px 1px 0;
    vertical-align: top;
  }
}

.table--compat {
  table-layout: fixed;

  td, th {
    text-align: center;
  }

  .compat {
    &-unknown {
      background-color: @gray-10;
    }

    &-broken {
      background-color: @accent-danger;
      color: white;
    }

    &-degraded {
      background-color: @accent-warning;
    }

    &-working {
      background-color: @accent-success;
    }
  }
}
