<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spinner - SegnoUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="segno-ui.css">
  <link rel="stylesheet" href="docs.css">
</head>
<body class="dsApp" id="top">
  <div class="dsApp__stage">
    <main class="dsApp__content">
  <div class="dsRow">
    <div class="dsCol span-12-xs span-9-md order-1-md">
      <div class="dsContainer">
        <h1 class="dsPageHeading">Spinner</h1>


<section id="vue-spinnerDemo">
  <h2 class="dsSectionHeading" id="demo">Demo</h2>

  <p>
    <label>
      <input type="checkbox" v-model="paused" />
      Pause
    </label>
  </p>
  <div class="demo">
    <ds-spinner
      :paused="paused"
      @pause="paused = false"
      @start="paused = true"
    ></ds-spinner>
  </div>
<pre><code class="html"><span class="hljs-comment">&lt;!-- Running spinner --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-spinner</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-spinner</span>&gt;</span>

<span class="hljs-comment">&lt;!-- Paused spinner --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-spinner</span> <span class="hljs-attr">paused</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-spinner</span>&gt;</span>
</code></pre></section>

<section>
  <h2 class="dsSectionHeading" id="attributes">Attributes</h2>
  <dl>
    <dt>paused</dt>
    <dd>Pauses animation, when present.</dd>
  </dl>
</section>

<section>
  <h2 class="dsSectionHeading" id="properties">Properties</h2>
  <dl>
    <dt>paused <small>(Boolean [false])</small></dt>
    <dd>Pauses animation, when set to true.</dd>
  </dl>
</section>
      </div>
    </div>
    <div class="dsCol span-12-xs span-3-md order-2-md dsApp__sidebar">
      <div class="dsContainer">
<aside>
  <dl>
    <dt>Last Updated:</dt>
    <dd>2017-10-30</dd>

  </dl>
</aside>

<aside class="article-toc" role="navigation">
  <header class="article-toc-title">Content</header>
  
        <ul class="toc">
            <li class="toc__item">
                <a class="toc__link" href="#demo">Demo</a>
            </li>
        
            <li class="toc__item">
                <a class="toc__link" href="#attributes">Attributes</a>
            </li>
        
            <li class="toc__item">
                <a class="toc__link" href="#properties">Properties</a>
            </li>
        </ul>
        <a class="toc__top-link" href="#top">
            Back to Top
        </a>
    
</aside>
      </div>
    </div>
  </div>
    </main>
    <nav class="dsApp__nav">

<a href="/" class="brand">SegnoUI</a>
  
  <ds-reveal open>
    <header slot="summary">
      <ds-icon class="toggle-icon" type="caret-down"></ds-icon>
      Components
    </header>

        <a href="components/icon"
         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Icon
        </a>
        <a href="components/reveal"
         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Reveal
        </a>
        <a href="components/spinner"
class="current"         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Spinner
        </a>
  </ds-reveal>

    </nav>
  </div>

<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <!--
    The adapter should only be loaded for browsers that
    natively support custom elements.
  -->
  <script src="vendor/custom-elements-es5-adapter.js"></script>
</span>

<span id="bottom">
  <!-- polyfills inserted after loader (if needed) -->
  <script src="vendor/webcomponents-loader.js"></script>
</span>

<!-- SegnoUI Custom Elements -->
<script src="segno-ui.js"></script>

<!-- Documentation from here on -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="docs.js"></script>
</body>
</html>
