dl {
  dt {
    font-weight: 700;
    #space.container.xs;
  }

  dd {
    #space.container.xs;
    margin-left: 2rem;
  }
}

dl.dsKeyValue {
  #grid.row;

  dt {
    #grid.span(3);
    #space.container.sm;
  }

  dd {
    #grid.span(9);
    #space.container.sm;
    margin: 0;
  }
}
