---
title: Reveal
compatibility:
  ie: working
  edge: working
  chrome: working
  safari: working
  firefox: working
---
{% extends 'element.njk' %}
{% block content %}
  <section>
    <h2 class="dsSectionHeading" id="usage">Usage</h2>
    {% code 'html' %}
      <ds-reveal [open]>
        [<ANY slot="summary"></ANY>]

        <!-- details go here -->
      </ds-reveal>
    {% endcode %}
  </section>

  <section>
    <h2 class="dsSectionHeading" id="demo">Demo</h2>

    <div class="demo">
      <p>Why'd the cookie cry?</p>
      <ds-reveal>
        <div slot="summary">
          <small>Reveal answer</small>
        </div>
        Because his father was a wafer so long!
      </ds-reveal>
    </div>
    {% code 'html' %}
      <p>Why'd the cookie cry?</p>
      <ds-reveal>
        <div slot="summary">
          <small>Reveal answer</small>
        </div>
        ...
      </ds-reveal>
    {% endcode %}
  </section>
{% endblock %}

{% block attributes %}
  <dl>
    <dt>open <small>(Boolean)</small></dt>
    <dd>When present, contents are visible.</dd>
  </dl>
{% endblock %}

{% block properties %}
  <dl>
    <dt>
      open <small>(Boolean [false])</small>
    </dt>
    <dd>
      <ul>
        <li>Set to <code>true</code> to open the Reveal</li>
        <li>Set to <code>false</code> to close the Reveal</li>
      </ul>
    </dd>
  </dl>
{% endblock %}
