{% macro renderItem(item, path) %}
  {% if path %}
    {% set normpath = path + '/' + item.path %}
  {% else %}
    {% set normpath = item.path %}
  {% endif %}

  {% if item.children %}
    {{ section(item) }}
  {% else %}
    {{ link(item.label, normpath) }}
  {% endif %}
{% endmacro %}

{% macro link(label, href) %}
  {% set isCurrentLink = page.path.indexOf(href) == 0 %}
  <a href="{{href}}" 
    class="dsTree__item {% if isCurrentLink %}current{% endif %}">
    <ds-icon type="none"></ds-icon>
    {{label}}
  </a>
{% endmacro %}

{% macro section(section) %}
  {% set isCurrentCategory = page.path.indexOf(section.path) === 0 %}
  {% set revealId = 'nav-' + section.label %}

  <ds-disclosure 
    aria-controls="{{ revealId }}"
    class="dsTree__item {% if isCurrentCategory %}current{% endif %}">
    <ds-icon class="icon" type="caret-right"></ds-icon>
    {{section.label | capitalize}}
  </ds-disclosure>
  <ds-reveal id="{{revealId}}" class="dsTree_branch" {% if isCurrentCategory %}open{% endif %}>
    {% for child in section.children %}
      {{renderItem(child, section.path)}}
    {% endfor %}
  </ds-reveal>
{% endmacro %}

<a href="/" class="brand">
  <img src="images/logo-with-title.svg" alt="logo" />
</a>

<div class="dsTree">
  {% for item in data.nav %}
    {{renderItem(item)}}
  {% endfor %}
</div>
