{% macro compatCell (key) %}
  {% set compat = page.compatibility[key] %}

  {% set val = compat or 'unknown' %}
  {% set desc = data.compatibility[val] or 'unknown' %}

  <td class="compat-{{val}}" title="{{ desc }}">
    {% if  val === 'broken' %}
      <ds-icon type="times"></ds-icon>
    {% elif  val === 'degraded' %}
      <ds-icon type="exclamation"></ds-icon>
    {% elif  val === 'working' %}
      <ds-icon type="check"></ds-icon>
    {% else %}
      <ds-icon type="question"></ds-icon>
    {% endif %}
  </td>
{% endmacro %}

<table class="dsTable table--compat">
  <thead>
    <tr>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{ compatCell('ie') }}
      {{ compatCell('edge') }}
      {{ compatCell('chrome') }}
      {{ compatCell('safari') }}
      {{ compatCell('firefox') }}
    </tr>
  </tbody>
</table>
