---
title: <ds-tabcontent>
compatibility:
  ie: working
  edge: working
  chrome: working
  safari: working
  firefox: working
---
{% extends 'element.njk' %}
{% block content %}
  <p>
    The <code>&lt;ds-tabcontent&gt;</code> element is a child container of
    <a href="elements/tabset">&lt;ds-tabset&gt;</a> that groups together
    all of your <a href="elements/tabpanel">&lt;ds-tabpanel&gt;</a> elements.
  </p>

  <section>
    <h2 class="dsSectionHeading" id="usage">Usage</h2>
    <dl class="dsKeyValue">
      <dt>Display</dt>
      <dd>block</dd>

      <dt>Parent</dt>
      <dd><a href="elements/tabset">&lt;ds-tabset&gt;</a></dd>

      <dt>Children</dt>
      <dd><a href="elements/tabpanel">&lt;ds-tabpanel&gt;</a></dd>
    </dl>
    {% code 'html' %}
      <ds-tabcontent></ds-tabcontent>
    {% endcode %}
  </section>
{% endblock %}

{% block attributes %}
  <dl>
    <dt>role*</dt>
    <dd>
      Automatically set to "presentation", if not explicitly defined in markup.
    </dd>
  </dl>
{% endblock %}
