{% extends 'application.njk' %}

{% block layout %}
  {% include 'partials/page-heading.njk' %}
  {# include 'partials/breadcrumbs.njk' #}
  <div class="dsRow">
    <div class="dsPage dsCol-12-xs dsCol-9-md dsOrder-2-xs dsOrder-1-md">
      <div class="dsPage__body">
        {% block content %}
          {# page content goes here #}
        {% endblock %}
      </div>
      {% include 'partials/page-footer.njk' %}
    </div>
    <div class="dsSidebar dsCol dsCol-12-xs dsCol-3-md dsOrder-1-xs dsOrder-2-md">
      <h6 class="dsLabel">On this page:</h6>
      <aside class="article-toc" role="navigation">
        {{ page.raw | toc | safe }}
        <hr />
        <a class="top-link" href="#top">Back to Top</a>
      </aside>
    </div>
  </div>
{% endblock %}
