---
title: Spinner
compatibility:
  ie: working
  edge: working
  chrome: working
  safari: working
  firefox: working
---
{% extends 'component.njk' %}
{% block content %}

<section>
  <h2 class="dsSectionHeading" id="demo">Demo</h2>

  <div class="demo" id="vue-spinnerDemo">
    <p>
      <ds-spinner
        :paused="paused"
        @pause="paused = false"
        @start="paused = true"></ds-spinner>
    </p>
    <label>
      <input type="checkbox" v-model="paused" />
      Pause
    </label>
  </div>
  {% code 'html' %}
    <ds-spinner></ds-spinner>
  {% endcode %}
</section>
{% endblock %}

{% block attributes %}
  <dl>
    <dt>paused</dt>
    <dd>Pauses animation, when present.</dd>
  </dl>
{% endblock %}

{% block properties %}
  <dl>
    <dt>paused <small>(Boolean [false])</small></dt>
    <dd>Pauses animation, when set to true.</dd>
  </dl>
{% endblock %}
