{% extends 'application.njk' %}

{% block layout %}
  <div class="dsRow">
    <div class="dsCol span-12-xs span-9-md order-2-xs order-1-md">
      <div class="dsContainer">
        <h1 class="dsPageHeading">{{ page.title }}</h1>

        {% block content %}
          {# page content goes here #}
        {% endblock %}

        <!--
        <section>
          <h2 class="dsSectionHeading" id="compatibility">Compatibility</h2>
          {% include 'partials/compat-table.njk' %}
          {% block compatibility %}
            {# reserve for additional compatibility notes #}
          {% endblock %}
        </section>
        -->

        <hr />

        <section>
          <p>
            <ds-icon type="calendar"></ds-icon>
            <b>Last Updated:</b> {{ page.updated.format(site.dateFormat) }}
          </p>
        </section>
      </div>
    </div>
    <div class="dsCol span-12-xs span-3-md order-1-xs order-2-md">
      <div class="dsContainer">
        <aside class="article-toc" role="navigation">
          {{ page.raw | toc | safe }}
        </aside>
      </div>
    </div>
  </div>
{% endblock %}
