<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reveal - SegnoUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="segno-ui.css">
  <link rel="stylesheet" href="segno-ui-grid.css">
  <link rel="stylesheet" href="docs.css">
</head>
<body class="dsApp" id="top">
  <div class="dsApp__stage">
    <main class="dsApp__content">
  <div class="dsRow">
    <div class="dsCol span-12-xs span-9-md order-2-xs order-1-md">
      <div class="dsContainer">
        <h1 class="dsPageHeading">Reveal</h1>

<section>
  <h2 class="dsSectionHeading" id="demo">Demo</h2>

  <div class="demo">
    <p>Why'd the cookie cry?</p>
    <ds-reveal>
      <div slot="summary">
        <small>Reveal answer</small>
      </div>
      Because his father was a wafer so long!
    </ds-reveal>
  </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Why'd the cookie cry?<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-reveal</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"summary"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">small</span>&gt;</span>Reveal answer<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  ...
<span class="hljs-tag">&lt;/<span class="hljs-name">ds-reveal</span>&gt;</span>
</code></pre></section>

<section>
  <h2 class="dsSectionHeading" id="attributes">Attributes</h2>
  <dl>
    <dt>open</dt>
    <dd>Open, when present</dd>
  </dl>
</section>

<section>
  <h2 class="dsSectionHeading" id="properties">Properties</h2>
  <dl>
    <dt>open <small>(Boolean [false])</small></dt>
    <dd>Open, when true</dd>
  </dl>
</section>

        <!--
        <section>
          <h2 class="dsSectionHeading" id="compatibility">Compatibility</h2>
<table>
  <thead>
    <tr>
      <td></td>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Appearance</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Behavior</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Accessibility</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
            
        </section>
        -->

        <hr />

        <section>
          <p>
            <ds-icon type="calendar"></ds-icon>
            <b>Last Updated:</b> 2017-11-02
          </p>
        </section>
      </div>
    </div>
    <div class="dsCol span-12-xs span-3-md order-1-xs order-2-md">
      <div class="dsContainer">
        <aside class="article-toc" role="navigation">
          
        
            <a href="#demo">Demo</a>
        
            <a href="#attributes">Attributes</a>
        
            <a href="#properties">Properties</a>
        
        <hr />
        <a class="top-link" href="#top">Back to Top</a>
    
        </aside>
      </div>
    </div>
  </div>
    </main>
    <nav class="dsApp__nav">


<a href="/" class="brand">
  <img src="images/logo-with-title.svg" alt="logo" />
</a>
      
  <a href="grid" >
    Grid
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>


  


    <ds-reveal open>
      <header slot="summary">
        <ds-icon class="toggle-icon" type="caret-down"></ds-icon>
        Components
      </header>

          
  <a href="components/icon" >
    Icon
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/inline-error" >
    Inline Error
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/reveal" class="current">
    Reveal
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/spinner" >
    Spinner
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

    </ds-reveal>

    </nav>
  </div>

<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <!--
    The adapter should only be loaded for browsers that
    natively support custom elements.
  -->
  <script src="vendor/custom-elements-es5-adapter.js"></script>
</span>

<span id="bottom">
  <!-- polyfills inserted after loader (if needed) -->
  <script src="vendor/webcomponents-loader.js"></script>
</span>

<!-- SegnoUI Custom Elements -->
<script src="segno-ui.js"></script>

<!-- Documentation from here on -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="docs.js"></script>
</body>
</html>
