---
title: Busy
compatibility:
  ie: working
  edge: working
  chrome: working
  safari: working
  firefox: working
---
{% extends 'component.njk' %}
{% block content %}
  <section>
    <h2 class="dsSectionHeading" id="usage">Usage</h2>
    {% code 'html' %}
      <ds-busy [paused]></ds-busy>
    {% endcode %}
  </section>

  <section id="vue-busyDemo">
    <h2 class="dsSectionHeading" id="demo">Demo</h2>
    <div class="demo">
      <p>
        <ds-busy
          :paused="paused"
          @pause="paused = false"
          @start="paused = true"></ds-busy>
      </p>
      <label>
        <input type="checkbox" v-model="paused" />
        Pause
      </label>
    </div>
  </section>
{% endblock %}

{% block attributes %}
  <dl>
    <dt>paused</dt>
    <dd>Pauses animation, when present.</dd>
  </dl>
{% endblock %}

{% block properties %}
  <dl>
    <dt>paused <small>(Boolean [false])</small></dt>
    <dd>Pauses animation, when set to true.</dd>
  </dl>
{% endblock %}
