button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

// Remove text transform inheritance
button,
select {
  text-transform: none;
}

// Correct inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  color: inherit;
}
