<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inline Error - SegnoUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="segno-ui.css">
  <link rel="stylesheet" href="segno-ui-grid.css">
  <link rel="stylesheet" href="docs.css">
</head>
<body class="dsApp" id="top">
  <div class="dsApp__stage">
    <main class="dsApp__content">
  <div class="page-heading dsRow">
    <div class="dsCol-12-xs dsCol-9-md dsContainer-lg">
      <h1 class="dsPageHeading">Inline Error</h1>
    </div>
    <div class="dsCol-12-xs dsCol-3-md dsContainer-lg">
      <!--
      <button>View Source</button>
      -->
    </div>
  </div>
  <div class="dsRow">
    <div class="dsPage dsCol-12-xs dsCol-9-md dsOrder-2-xs dsOrder-1-md">
      <div class="dsPage__body">

<section>
  <h2 class="dsSectionHeading" id="demo">Demo</h2>
  <div class="demo">
    <ds-inline-error>This is an error message.</ds-inline-error>
  </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">ds-inline-error</span>&gt;</span>This is an error message.<span class="hljs-tag">&lt;/<span class="hljs-name">ds-inline-error</span>&gt;</span>
</code></pre></section>

        <section>
          <h2 class="dsSectionHeading" id="attributes">Attributes</h2>
          <p>
            Attributes allow you to configure the component in a declarative manner.
          </p>
            <p>
              <ds-icon type="info-circle"></ds-icon>
              This component does not have any configurable attributes.
            </p>
        </section>

        <section>
          <h2 class="dsSectionHeading" id="properties">Properties</h2>
          <p>
            Properties allow you to configure the component in an imperative manner.
          </p>
            <p>
              <ds-icon type="info-circle"></ds-icon>
              This component does not have any exposed properties.
            </p>
        </section>

        <section>
          <h2 class="dsSectionHeading" id="functions">Functions</h2>
          <p>
            Functions alllow you to trigger complex behavior in a component.
          </p>
            <p>
              <ds-icon type="info-circle"></ds-icon>
              This component does not have any exposed functions.
            </p>
        </section>

        <section>
          <h2 class="dsSectionHeading" id="compatibility">Compatibility</h2>

<table class="dsTable table--compat">
  <thead>
    <tr>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      

  <td class="compat-working" title="Fully functional">
      <ds-icon type="check"></ds-icon>
  </td>

      

  <td class="compat-working" title="Fully functional">
      <ds-icon type="check"></ds-icon>
  </td>

      

  <td class="compat-working" title="Fully functional">
      <ds-icon type="check"></ds-icon>
  </td>

      

  <td class="compat-working" title="Fully functional">
      <ds-icon type="check"></ds-icon>
  </td>

      

  <td class="compat-working" title="Fully functional">
      <ds-icon type="check"></ds-icon>
  </td>

    </tr>
  </tbody>
</table>
            
        </section>
      </div>

      <footer class="dsPage__foot">
        <p>
          <ds-icon type="calendar"></ds-icon>
          <b>Last Updated:</b> 2017-11-09
        </p>
      </footer>
    </div>
    <div class="dsSidebar dsCol dsCol-12-xs dsCol-3-md dsOrder-1-xs dsOrder-2-md">
      <h6 class="dsLabel">On this page:</h6>
      <aside class="article-toc" role="navigation">
        
        
            <a href="#demo">Demo</a>
        
        <a href="#attributes">Attributes</a>
        <a href="#properties">Properties</a>
        <a href="#functions">Functions</a>
        <a href="#compatibility">Compatibility</a>
        <hr />
        <a class="top-link" href="#top">Back to Top</a>
    
      </aside>
    </div>
  </div>
    </main>
    <nav class="dsApp__nav">


<a href="/" class="brand">
  <img src="images/logo-with-title.svg" alt="logo" />
</a>
  


    <ds-reveal open>
      <header slot="summary">
        <ds-icon class="toggle-icon" type="caret-down"></ds-icon>
        Components
      </header>

          
  <a href="components/grid" >
    Grid
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/icon" >
    Icon
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/inline-error" class="current">
    Inline Error
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/reveal" >
    Reveal
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

          
  <a href="components/spinner" >
    Spinner
    <span class="you-are-here">
      <ds-icon type="arrow-right"></ds-icon>
    </span>
  </a>

    </ds-reveal>

    </nav>
  </div>

<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <!--
    The adapter should only be loaded for browsers that
    natively support custom elements.
  -->
  <script src="vendor/custom-elements-es5-adapter.js"></script>
</span>

<span id="bottom">
  <!-- polyfills inserted after loader (if needed) -->
  <script src="vendor/webcomponents-loader.js"></script>
</span>

<!-- SegnoUI Custom Elements -->
<script src="segno-ui.js"></script>

<!-- Documentation from here on -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="docs.js"></script>
</body>
</html>
