@import 'vars';
@import 'reset';
@import 'base';

// COMPONENTS
@import 'components/breadcrumbs';
@import 'components/demo';
@import 'components/key-value-list';
@import 'components/layout';
@import 'components/post-it';
@import 'components/table';
@import 'components/toc';
@import 'components/typography';

// HELPERS
@import 'helpers';

// OVERRIDES / DEMOS
@import 'grid/demo-grid';
@import 'icon/demo-icon';
@import 'tabset/demo-tabset';

/// OTHER
.theme-dark {
  background-color: @gray-90;
  color: white;
}

.theme-light {
  background-color: white;
  color: @gray-90;
}

// SHAME
input[type="range"] {
  display: block;
  width: 100%;
}
