@import 'vars';
@import 'reset';
@import 'base';

// COMPONENTS
@import 'components/demo';
@import 'components/layout';
@import 'components/post-it';
@import 'components/table';
@import 'components/toc';
@import 'components/typography';

// HELPERS
@import 'helpers';

// OVERRIDES / DEMOS
@import 'grid/demo-grid';
@import 'icon/demo-icon';

/// OTHER
.theme-dark {
  background-color: @gray-90;
  color: white;
}

.theme-light {
  background-color: white;
  color: @gray-90;
}
