<!DOCTYPE html>
<html lang="en">
<head>
  <title>Icon - SegnoUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="segno-ui.css">
  <link rel="stylesheet" href="docs.css">
</head>
<body class="dsApp" id="top">
  <div class="dsApp__stage">
    <main class="dsApp__content">
  <div class="dsRow">
    <div class="dsCol span-12-xs span-9-md order-2-xs order-1-md">
      <div class="dsContainer">
        <h1 class="dsPageHeading">Icon</h1>

<section>
  <h2 class="dsSectionHeading" id="demo">Demo</h2>
  <p>
    Set the <code>type</code> attribute to any value <a href="#icon-types">listed below</a>.
  </p>
  <div class="demo">
    <ds-icon type="arrow-up"></ds-icon>
    <ds-icon type="arrow-up"></ds-icon>
    <ds-icon type="arrow-down"></ds-icon>
    <ds-icon type="arrow-down"></ds-icon>
    <ds-icon type="arrow-left"></ds-icon>
    <ds-icon type="arrow-right"></ds-icon>
    <ds-icon type="arrow-left"></ds-icon>
    <ds-icon type="arrow-right"></ds-icon>
    <kbd>B</kbd>
    <kbd>A</kbd>
    <kbd>start</kbd>
  </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ds-icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"arrow-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ds-icon</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>B<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>A<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>start<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span>
</code></pre></section>

<section>
  <h2 class="dsSectionHeading" id="icon-types">Icon Types</h2>
  <p>There are 60 icons available!</p>
  <div class="dsGrid">
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="angle-down"></ds-icon>
          <code>angle-down</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="angle-left"></ds-icon>
          <code>angle-left</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="angle-right"></ds-icon>
          <code>angle-right</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="angle-up"></ds-icon>
          <code>angle-up</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="arrow-down"></ds-icon>
          <code>arrow-down</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="arrow-left"></ds-icon>
          <code>arrow-left</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="arrow-right"></ds-icon>
          <code>arrow-right</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="arrow-up"></ds-icon>
          <code>arrow-up</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="ban"></ds-icon>
          <code>ban</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="bell"></ds-icon>
          <code>bell</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="bookmark"></ds-icon>
          <code>bookmark</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="calendar"></ds-icon>
          <code>calendar</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="caret-down"></ds-icon>
          <code>caret-down</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="caret-left"></ds-icon>
          <code>caret-left</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="caret-right"></ds-icon>
          <code>caret-right</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="caret-up"></ds-icon>
          <code>caret-up</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="check"></ds-icon>
          <code>check</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="check-circle"></ds-icon>
          <code>check-circle</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="clock"></ds-icon>
          <code>clock</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="cog"></ds-icon>
          <code>cog</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="download"></ds-icon>
          <code>download</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="envelope"></ds-icon>
          <code>envelope</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="exclamation"></ds-icon>
          <code>exclamation</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="exclamation-circle"></ds-icon>
          <code>exclamation-circle</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="exclamation-triangle"></ds-icon>
          <code>exclamation-triangle</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="external-link"></ds-icon>
          <code>external-link</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="filter"></ds-icon>
          <code>filter</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="folder"></ds-icon>
          <code>folder</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="heart"></ds-icon>
          <code>heart</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="image"></ds-icon>
          <code>image</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="info"></ds-icon>
          <code>info</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="info-circle"></ds-icon>
          <code>info-circle</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="key"></ds-icon>
          <code>key</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="link"></ds-icon>
          <code>link</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="map-marker"></ds-icon>
          <code>map-marker</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="menu-bento"></ds-icon>
          <code>menu-bento</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="menu-doner"></ds-icon>
          <code>menu-doner</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="menu-hamburger"></ds-icon>
          <code>menu-hamburger</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="menu-kebab"></ds-icon>
          <code>menu-kebab</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="menu-meatball"></ds-icon>
          <code>menu-meatball</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="minus"></ds-icon>
          <code>minus</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="padlock-locked"></ds-icon>
          <code>padlock-locked</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="padlock-unlocked"></ds-icon>
          <code>padlock-unlocked</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="paperclip"></ds-icon>
          <code>paperclip</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="pencil"></ds-icon>
          <code>pencil</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="phone"></ds-icon>
          <code>phone</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="plus"></ds-icon>
          <code>plus</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="redo"></ds-icon>
          <code>redo</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="refresh"></ds-icon>
          <code>refresh</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="search"></ds-icon>
          <code>search</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="sortable"></ds-icon>
          <code>sortable</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="sorted-down"></ds-icon>
          <code>sorted-down</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="sorted-up"></ds-icon>
          <code>sorted-up</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="star"></ds-icon>
          <code>star</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="times"></ds-icon>
          <code>times</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="times-circle"></ds-icon>
          <code>times-circle</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="trash"></ds-icon>
          <code>trash</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="undo"></ds-icon>
          <code>undo</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="upload"></ds-icon>
          <code>upload</code>
        </div>
      </div>
      <div class="dsCol span-12-xs span-6-sm span-4-md span-3-lg">
        <div class="demo icon-demo">
          <ds-icon type="user"></ds-icon>
          <code>user</code>
        </div>
      </div>
  </div>
</section>

<section>
  <h2 class="dsSectionHeading" id="attributes">Attributes</h2>
  <dl>
    <dt>type</dt>
    <dd>Set the value to one of the values documented above.</dd>
  </dl>
</section>

<section>
  <h2 class="dsSectionHeading" id="properties">Properties</h2>
  <dl>
    <dt>type <small>(String)</small></dt>
    <dd>
      Modifies the displayed image.
      Valid values are documented above.
    </dd>
  </dl>
</section>

        <!--
        <section>
          <h2 class="dsSectionHeading" id="compatibility">Compatibility</h2>
<table>
  <thead>
    <tr>
      <td></td>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Appearance</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Behavior</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Accessibility</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
            
        </section>
        -->

        <hr />

        <section>
          <p>
            <ds-icon type="calendar"></ds-icon>
            <b>Last Updated:</b> 2017-10-30
          </p>
        </section>
      </div>
    </div>
    <div class="dsCol span-12-xs span-3-md order-1-xs order-2-md">
      <div class="dsContainer">
        <aside class="article-toc" role="navigation">
          
        
            <a href="#demo">Demo</a>
        
            <a href="#icon-types">Icon Types</a>
        
            <a href="#attributes">Attributes</a>
        
            <a href="#properties">Properties</a>
        
        <hr />
        <a class="top-link" href="#top">Back to Top</a>
    
        </aside>
      </div>
    </div>
  </div>
    </main>
    <nav class="dsApp__nav">

<a href="/" class="brand">
  <img src="images/logo-with-title.svg" alt="logo" />
</a>
  
  <ds-reveal open>
    <header slot="summary">
      <ds-icon class="toggle-icon" type="caret-down"></ds-icon>
      Components
    </header>

        <a href="components/form"
         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Form
        </a>
        <a href="components/icon"
class="current"         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Icon
        </a>
        <a href="components/reveal"
         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Reveal
        </a>
        <a href="components/spinner"
         >
           <span class="you-are-here">
             <ds-icon type="map-marker"></ds-icon>
           </span>
           Spinner
        </a>
  </ds-reveal>

    </nav>
  </div>

<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <!--
    The adapter should only be loaded for browsers that
    natively support custom elements.
  -->
  <script src="vendor/custom-elements-es5-adapter.js"></script>
</span>

<span id="bottom">
  <!-- polyfills inserted after loader (if needed) -->
  <script src="vendor/webcomponents-loader.js"></script>
</span>

<!-- SegnoUI Custom Elements -->
<script src="segno-ui.js"></script>

<!-- Documentation from here on -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="docs.js"></script>
</body>
</html>
