{% macro compat (key) %}
  {% set val = page.compatibility[key] %}

  {% if val %}
    {% if  val === 'broken' %}
      <ds-icon type="times"></ds-icon>
    {% elif  val === 'degraded' %}
      <ds-icon type="exclamation-triangle"></ds-icon>
    {% elif  val === 'working' %}
      <ds-icon type="check"></ds-icon>
    {% else %}
      <ds-icon type="question"></ds-icon>
    {% endif %}
  {% else %}
    <ds-icon type="question"></ds-icon>
  {% endif %}
{% endmacro %}

<table class="dsTable table--compat">
  <thead>
    <tr>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ compat('ie') }}</td>
      <td>{{ compat('edge') }}</td>
      <td>{{ compat('chrome') }}</td>
      <td>{{ compat('safari') }}</td>
      <td>{{ compat('firefox') }}</td>
    </tr>
  </tbody>
</table>
