<table>
  <thead>
    <tr>
      <td></td>
      <th>IE11</th>
      <th>Edge</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>Firefox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Appearance</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Behavior</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Accessibility</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
